<select (change)="onChange($event.target.value)" class="filter">
  <option value="all">Show All</option>
  <option value="done">Show Done</option>
  <option value="notDone" selected="selected">Show Not Done</option>
</select>

<task-display *ngFor="#currentTask of taskList | done:filterDone"
  (click)="taskClicked(currentTask)"
  [class.selected]="currentTask === selectedTask"
  [task]="currentTask">
</task-display>
<edit-task-details  *ngIf="selectedTask" [task]="selectedTask">
</edit-task-details>
<new-task (onSubmitNewTask)="createTask($event)"></new-task>
